.inline-form input {
  display: inline-block;
  width: 100px;
}

body {
color:black;
background-color:#DCDCDC;
  padding-top: 60px;
/*background-image:url(../images/wallpaper.jpg);*/

}

.title {
border-bottom : solid 1px;
border-bottom-color : #CCC;
}

ul{
    list-style-type: none;
}

.coms  {

border : solid 1px;
border-radius: 6px;
background-color:white;
margin-bottom : 3px;
border-color : #CCC;
padding : 10px;
margin-left : -40px;


}

p {
margin : 10px;


}

/*[class*="col-"], footer {

  border: 1px solid black;
  border-radius: 6px;
}*/

/*.test_left {
margin-left: 25px;
margin-top : 120px;
}

.test_right {
margin-top : 120px;

}

.gallery  {
background-color:#606060;

border: 1px solid black;
border-color : #CCC;
border-radius: 6px;
margin-top : -10px;
padding-top : 15px;
margin-bottom : 10px;

}*/