header
 {
 display: block;

	text-align : center;

 }
 
 nav
 {
  display: block;

    height: 83px;

	text-align : center;
    top: 43px;
    left: 217px;
 }
 
 article
 {
  display: block;

 }
 
 footer
 {
  display: block;

 }